.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.pull-left {
  float: left !important;
}

.btn-flat {
  text-transform: none;
}

/*
* { box-sizing:border-box; }

// basic stylings ------------------------------------------ /
.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}

// form starting stylings ------------------------------- /
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input textarea {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

textarea {
  padding-top: 10px;
}

.ticket-textarea {
  padding-top: 10px;
  height:300px;
}

.label-select {
  line-height: 48px;
}


// LABEL ======================================= /
label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

// active state /
input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

// active state /
textarea:focus ~ label, textarea:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

// BOTTOM BARS ================================= /
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

// active state /
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}
*/