.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.pull-left {
  float: left !important;
}

.btn-flat {
  text-transform: none;
}

.tabs {
  overflow: hidden;
}
.no-float {
  float: none;
}

select {
  padding: 0;
  height: auto;
}